################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/11-25/AdventOfCode2023/.vs/AdventOfCode2023
